@import '../../common.scss';

.container {
  padding: 2rem 2rem 0 2rem;
  box-sizing: border-box;

  > .title {
    font-weight: 500;
    font-size: 1.25rem;
    color: #434959;
  }

  .labels {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
      align-items: flex-start;
      flex-wrap: wrap;
    }

    > li {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        margin-bottom: 1rem;
      }

      > input[type='checkbox'] {
        appearance: none;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        border: 1px solid #dfe3ea;
        cursor: pointer;

        &:checked {
          background-color: #6adc95;
          border: 0;
        }

        @include mobile {
          margin: 0 10px 0 0;
        }
      }

      > label {
        cursor: pointer;
      }
    }
  }
}
